<link rel="stylesheet" href="/css/inicio.css">
<form action="/inicio"method="POST">
<body>
<head>
    <div id="contendodrhe">
        <div>
            <div class="navbar">
                <div id="imagen">
                    <img src="/img/logon.png"></img></div>
                    <a id="inicio" href="#">Inicio</a>
   <div id="boton"> <a href="/">INGRESAR</a></div>
            </div>
    </div>
</head>
<div id="contenedor">
    <div id="panesillo">
        <img src="/img/panesillo.jpeg" alt="">
    </div>
    <div id="servicios">
        <p>Politicas de privacidad</p>
    </div>
    <div>
        <p>POLÍTICAS DE RESERVA Y MEDIOS DE PAGO
Para reservar la estadía a través de nuestros números de contacto, el usuario debe realizar un primer pago equivalente al 50% del total de noches reservadas. El restante valor del alejamiento y los consumos podrán ser pagados directamente en la recepción en efectivo, tarjeta débito o tarjeta de crédito y/o electrónicamente.
POLÍTICAS DE CANCELACIÓN Y REEMBOLSO
En caso de cancelación de reserva para alojamiento sin justa causa del usuario, después de realizado el primer pago sin que se cumpla lo establecido en las políticas del hotel para tal fin, se entiende que dicho valor NO SERÁ REEMBOLSABLE, salvo las excepciones aquí establecidas.
Las cancelaciones que se realicen por los usuarios del servicio de pasadía sobre la reserva NO SERÁN REEMBOLSABLES bajo ningún concepto, salvo las excepciones que a continuación se establecen.
</p>
    </div>
</div>
<footer id="footer" class="">
      <div class="container">
        <div class="row text-left">
          <div id="contact">
            <p>Contactanos</p>
            <img id="btnwasa" src="/img/wasa.png" alt=""><br>
            <img id="btnmail" src="/img/mail.png" alt=""><br>
            <img id="btntelef" src="/img/telef.png" alt="">
            <b><a>Whatsapp</a><br></b>
            <a>09 5676 6890</a><br> <br>
            <b><a>Email</a></b><br> 
            <a>yavi@hotel.com</a> <br> <br>
            <b><a>Call Center</a></b><br> 
            <a>+59322 3456 7891</a><br> <br>
          </div>
          <div id="destin">
            <p>Habitaciones</p>
            <a href="">lobi</a><br> <br>
            <a href="">Precidencial</a><br> <br>
            <a href="">Familiar</a>
          </div>
          <div id="soport">
            <p>Soporte</p>
            <a href="">Preguntas frecuentes</a><br> <br>
            <a href="">Política de privacidad</a><br> <br>
            <a href="">Términos y condiciones</a><br> <br>
            <a href="">Inolvidables eventos</a> <br>
          </div>
          <div id="follow">
           <b> <p>Síguenos</p></b>
           <a href=""><img id="ig" src="/img/insta.png" alt=""></a>
           <a href=""><img id="fb" src="/img/fb.png" alt=""></a>
          </div>
        </div>
      </div>
    </footer>
</body>
<script>
        document.getElementById("boton").addEventListener("click", function() {
            window.location.href = "inicio2.hbs";
        });
    </script>
</from>